@model IEnumerable<NUOVO.Models.CommessaRischio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageTitle">
    <span>Gestione Rischi</span>
</div>

<button>
    @Html.ActionLink("Create New", "Create")
</button>


<div style="overflow-x: auto; width: 100%;">
    <table class="table">
        <tr class="thead">
            <th>
                @Html.DisplayNameFor(model => model.NomeRischio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commessa.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progressivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRilevamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAggiornamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priorita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probabilita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impatto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strategia)
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeRischio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commessa.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progressivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataRilevamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAggiornamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priorita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Probabilita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Impatto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strategia)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Progressivo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Progressivo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Progressivo })
                </td>
            </tr>
        }



    </table>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @*<script type="text/javascript">
                $(document).ready(function () {
                    var impatto = "Minor";
                    var probabilita = "Rare";
                    var nome = $("#NomeRischio").val();
                    $.ajax({
                        url: "/CommessaRischio/SetTabella",
                        type: "POST",
                        contentType: 'application/json; charset=UTF-8',
                        data: JSON.stringify({ impatto: impatto, probabilita: probabilita, nome: nome }),
                        success: function (json) {
                            var riga = json.riga;
                            var colonna = json.colonna;
                            if (colonna == 1 && riga == 1) {
                                console.log(riga + "ciaoooo" + colonna + probabilita);

                            }
                            if (colonna == 1 && riga == 4) {
                                console.log(riga + "ciaoooo" + colonna + probabilita);
                                $("#prova").html(nome);
                            }
                            /*   $("#DataRilevamento").val(today);*/
                        },
                        error: function (err) {
                            alert(err)
                        }
                    });
                });
            </script>*@
    }
